@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  
  /* Custom Breakpoints */
  --breakpoint-2xl: 106rem; /*1696 px*/
  --breakpoint-3xl: 128rem; /*2048 px - 2495 px*/
  --breakpoint-4xl: 156rem; /*2496 px - 5119 px*/
  --breakpoint-5xl: 320rem; /*5120 px*/
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  margin-block: 5.5rem;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.509)
  );
  border-radius: 10px;
}